@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --orange: #faa100;
  --blue: #0059fa;
  --white: #fafafa;
  --black: #010101;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.content {
  width: 800px;
  margin: 0;
  padding: 32px;
}

img {
  height: 160px;
}

#item {
  font-size: 80px;
  font-weight: bolder;
  width: initial;
  height: 90px;
  color: var(--blue);
}

#highlight {
  display: inline-block;
  position: absolute;
  z-index: -1;
  background-color: var(--orange);
  height: 100px;
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#item:hover #highlight {
  width: 500px;
}

#item:hover {
  color: var(--white);
}

.color {
  width: 1005;
  height: 4px;
  background-color: var(--orange);
}

.intro {
  font-size: 24px;
}

.box-image {
  display: flex;
  justify-content: center;
}

.box-image > img {
  height: 240px;
}

textarea {
  height: 160px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.link-container {
  width: 100%;
}

.buttons {
  width: 25%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--orange);
}

.buttons:hover {
  background-color: var(--blue);
}

.button-text {
  text-decoration: none;
  color: var(--white);
  font-weight: 900;
  font-size: 20px;
  background-color: transparent;
  border: none;
}
